black==23.9.1
dbt-core==1.10.4
dbt-extractor==0.6.0
dbt-postgres==1.9.0
Fiona==1.10.1
GeoAlchemy2==0.17.1
geopandas==1.1.1
great-expectations==0.18.19
jupyterlab
jupyterlab-pygments==0.3.0
jupyterlab-widgets==3.0.11
networkx==2.8.8
openmetadata-ingestion[postgres]==1.5.8.0
openmetadata-managed-apis==1.5.8.0
pyproj==3.7.1
pytest==8.4.1
pytest-mock==3.14.1
Rtree==1.4.0
scikit-learn==1.5.1
scipy==1.16.0
shapely
