.md-grid {
    max-width: initial;
}


[data-md-color-scheme="test"] {
    --md-primary-fg-color: #EE0F00;
    --md-primary-fg-color--light: #ECB700;
    --md-primary-fg-color--dark: #900300;
}

[data-md-color-scheme="night"] {
    --md-primary-fg-color: #41B6E6;
    --md-primary-fg-color--light: #E1F3F8;
    --md-primary-fg-color--dark: #005899;
    --md-primary-bg-color: #f1f1f1;
    --md-primary-bg-color--light: #ffffffb3;
    --md-accent-fg-color: #526cfe;
    --md-accent-fg-color--transparent: #526cfe1a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
}

/* 
Blues: #0071bc #205493 # #112e51 
Greys: #212121 #323a45 
*/

[data-md-color-scheme="earthy"] {
    --md-primary-fg-color: #795548;
    --md-primary-fg-color--light: #a98274;
    --md-primary-fg-color--dark: #4b2c20;
    --md-primary-bg-color: #81c784;
    --md-primary-bg-color--light: #b2fab4;
    --md-primary-bg-color--dark: #519657;
    --md-accent-fg-color: #fffde7;
    --md-accent-fg-color--transparent: #3e2723;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffb3;
}

[data-md-color-scheme="earthy2"] {
    --md-hue: 232;
    --md-default-fg-color: hsla(var(--md-hue), 75%, 95%, 1);
    --md-default-fg-color--light: hsla(var(--md-hue), 75%, 90%, 0.62);
    --md-default-fg-color--lighter: hsla(var(--md-hue), 75%, 90%, 0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue), 75%, 90%, 0.12);
    --md-default-bg-color: hsla(var(--md-hue), 15%, 21%, 1);
    --md-default-bg-color--light: hsla(var(--md-hue), 15%, 21%, 0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 21%, 0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 21%, 0.07);
    --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1);
}