agate==1.7.0
alembic==1.8.1
altair==4.2.0
apache-airflow==2.5.1
apache-airflow-providers-celery==3.1.0
apache-airflow-providers-common-sql==1.3.3
apache-airflow-providers-docker==3.5.1
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-http==4.1.1
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-postgres==5.4.0
apache-airflow-providers-sqlite==3.3.1
attrs==22.2.0
beautifulsoup4==4.11.2
celery==5.2.7
cffi==1.15.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
colorlog==4.8.0
ConfigUpdater==3.1.1
dbt-core==1.4.4
dbt-extractor==0.4.1
dbt-postgres==1.4.4
exceptiongroup==1.1.0
Fiona==1.8.22
Flask-WTF==1.1.1
flower==1.2.0
GeoAlchemy2==0.13.1
geopandas==0.12.2
graphviz==0.20.1
great-expectations==0.15.49
jupyterlab
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
networkx==2.8.8
packaging==21.3
pandas==1.5.3
psycopg2-binary==2.9.5
pyproj==3.4.1
pytest==7.2.1
PyYAML==6.0
requests==2.28.2
Rtree==1.0.1
scikit-learn==1.2.1
scipy==1.9.3
shapely==2.0.1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
tornado==6.1