dbt-core==1.4.4
dbt-extractor==0.4.1
dbt-postgres==1.4.4
Fiona==1.8.22
GeoAlchemy2==0.13.1
geopandas==0.12.2
great-expectations==0.15.49
jupyterlab
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
networkx==2.8.8
pyproj==3.4.1
pytest==7.2.1
Rtree==1.0.1
scikit-learn==1.2.1
scipy==1.9.3
shapely==2.0.1