black==23.3
dbt-core==1.4.4
dbt-extractor==0.4.1
dbt-postgres==1.4.4
Fiona==1.9.3
GeoAlchemy2==0.13.2
geopandas==0.12.2
great-expectations==0.16.7
jupyterlab
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
networkx==2.8.8
pyproj==3.5.0
pytest==7.3.1
Rtree==1.0.1
scikit-learn==1.2.1
scipy==1.10.1
shapely==2.0.1